@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(100, 116, 139, 0.2);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(100, 116, 139, 0.4);
    }
    * {
        scrollbar-width: thin;
        scrollbar-color: rgba(100, 116, 139, 0.2) transparent;
    }
}
